.container {
  margin-top: var(--header-margin);
  display: flex;
  flex-direction: column;
}

.accordionTitle {
  padding: var(--basic-spacing);
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  font-weight: bold;
  background-color: #eeee;
  margin: var(--double-spacing);
  transition: background-color 250ms ease-in-out;
}

.accordionTitle:hover {
  cursor: pointer;
  background-color: #cccc;
}

.accordionTitle::after {
  content: "\002B";
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.accordionContent {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  flex-direction: row;
  overflow: hidden;
  padding: 0 var(--double-spacing);
  opacity: 0;
  margin: 0;
  transition: all 400ms ease-in-out;
}

.accordionExpanded {
  display: flex;
  padding: var(--basic-spacing) var(--double-spacing);
  opacity: 1;
}
